<h2>Race Calender</h2>
<button (click)="toggleCircuits()">
  <ng-container *ngIf="!isDisplayed">Show Circuits</ng-container>
  <ng-container *ngIf="isDisplayed">Hide Circuits</ng-container>
</button>

<ul *ngIf="isDisplayed">
  <!-- Use ng-container to hide elements -->
  <ng-container *ngFor="let circuit of circuits">
    <li>
      <img [src]="circuit.imageSource" [alt]="circuit.name" width="100px" />
      Race Number: {{ circuit.number }} Location: {{ circuit.location }}
    </li>
  </ng-container>

</ul>
